<!-- form-plantCultivars.html -->
<div class="form-group">
    <label>Cultivars omschrijving</label>
    <div text-angular ng-model="vm.formData.cultivarsInfo" required
         ta-toolbar="[['h1','h2','h3'],['bold','italics'],['undo','redo'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight']]">
    </div>
</div>

<div class="input-group">
    <input novalidate type="text" class="form-control" id="cultivarsExample" name="cultivarsExample"
           ng-model="cv.cultivarsExample">
            <span class="input-group-btn">
                <button ng-disabled="cv.didableExampleBtn" class="btn btn-success"
                        ng-click="cv.addExample($event)">Voeg toe
                </button>
            </span>
</div>

<hr>

<ul>
    <li ng-repeat="example in cv.examples track by $index">
        {{example}}
        <span ng-click="cv.deleteExample($index, $event)"><i class="fa fa-trash"></i></span>
    </li>
</ul>

<div class="form-group row">
    <div class="col-xs-6">
        <a ng-disabled="plantForm.$invalid" ng-click="cv.prevPage()" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> categorie&euml;n
        </a>
    </div>
    <div class="col-xs-6">
        <a ng-disabled="plantForm.$invalid" ng-click="cv.nextPage()" class="btn btn-block btn-info">
            categorie&euml;n <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
