<!-- form.html -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">

            <div class="page-header text-center">
                <h2>Plant toevoegen</h2>

                <div id="status-buttons" class="text-center">
                    <a ng-class="vm.isStateActive('form.plantInfo')"><span>1</span> Info</a>
                    <a ng-class="vm.isStateActive('form.plantCategory')"><span>2</span> Categorie</a>
                    <a ng-class="vm.isStateActive('form.plantCultivars')"><span>3</span> Cultivar</a>
                    <a ng-class="vm.isStateActive('form.plantHistory')"><span>4</span> Geschiedenis</a>
                    <a ng-class="vm.isStateActive('form.plantMaintenance')"><span>5</span> Onderhoud</a>
                    <a ng-class="vm.isStateActive('form.plantHarvest')"><span>6</span> Teelt en oogst</a>
                </div>
            </div>

            <form id="plant-form" name="plantForm" ng-submit="vm.processForm()">
                <div id="form-views" ui-view></div>
            </form>
        </div>

        <!-- show our formData as it is being typed -->
    <pre>
        {{ vm.formData }}
    </pre>

    </div>
</div>
